/*************************************** Notebooks ******************************************/
@media only screen and (min-width: 851px) {
  .bungee-regularspice- {
    font-size: 1.6rem; /* Ajusta el tamaño del texto del título para pantallas medianas */
  }
  .btn-custom, .btn-warning {
    font-size: 1rem; /* Ajusta el tamaño del texto para pantallas medianas */
    height: 100px; /* Ajusta la altura de los botones para pantallas medianas */
  }
  .option-button {
    font-size: 1.2vw; /* Ajusta el tamaño del texto de las opciones de respuestas */
    }
}

/*************************************** Tablets ******************************************/
@media only screen and (min-width: 651px) and (max-width: 850px) {
  body {
      position: relative;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overflow-x: hidden;
      background-size: cover;
  }
  .row-cols-md-4>* {
    flex: 0 0 auto;
    width: 25%;
    font-size: 1.4rem;
}
  .bungee-regularspice- {
    font-size: 1.5rem; /* Ajusta el tamaño del texto del título para pantallas tablets*/
  }
  .btn-custom, .btn-warning {
    font-size: 0.8rem; /* Ajusta el tamaño del texto del menú para pantallas tablets */
    height: 80px; /* Ajusta la altura de los botones para pantallas tablets */
  }
  .option-button {
    font-size: 3vw; /* Ajusta el tamaño del texto de las opciones de respuestas */
    }
}

/*************************************** Celulares ******************************************/
@media only screen and (max-width: 650px) {
  body {
      position: relative;
  }
  .bungee-regularspice- {
    margin-top: 50px;
    font-size: 1.5rem; /* Ajusta el tamaño del texto del título para pantallas Celulares */
  }
  .btn-custom, .btn-warning {
    font-size: 1.45rem; /* Ajusta el tamaño del texto del menú para pantallas Celulares */
    height: 70px; /* Ajusta la altura de los botones para pantallas Celulares */
  }
  .option-button {
  font-size: 5vw; /* Ajusta el tamaño del texto de las opciones de respuestas */
  }
  .btn-abandonar {
    font-size: 1.5rem; /* Aumenta el tamaño del texto en dispositivos móviles */
    padding: 20px 40px; /* Aumenta el padding para un botón más grande */
  }

}

