body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: center;
    background-size: cover;
    background-color: rgba(97, 3, 42);
    padding-top: 10px;
    padding-bottom: 10px;
}
header h1 {
    color: white;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding-right: 17px;
}
/********************************************** Celulares ********************************************************/
@media only screen and (max-width: 650px) {
    nav ul li a {
        text-decoration: none;
        color: white;
        transition: color 0.3s, text-decoration 0.3s;
        font-style: oblique;
        margin-bottom: 7px;
        font-size: small;
        font-family:"Kalam", cursive;
    }

    nav ul li a:hover {
        color: blue;
        text-decoration: none;
    }

    .fa-facebook-square {
        color: white;
    }
    
    .fa-facebook-square:hover {
        color: blue;
        text-decoration: none;
    }

    .fa-instagram {
        color: white;
    }

    .fa-instagram:hover {
        color: blue;
        text-decoration: none;
    }

    .bungee-regularspice- {
        font-size: 5vw; 
    }
}
/************************************************ Tablets *********************************************************/
@media only screen and (min-width: 651px) and (max-width: 850px)  {
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 2vw;
        transition: color 0.3s, text-decoration 0.3s;
        font-family:"Kalam", cursive;
    }
    
    nav ul li a:hover {
        color: blue; 
        text-decoration: none;
    }
    
    .fa-facebook-square {
        font-size: 2vw; 
        color: white;
      }
    
      .fa-facebook-square:hover {
        color: blue;
        text-decoration: none;
      }
    
    .fa-instagram{
        font-size: 2vw; 
        color: white;
    }
    
    .fa-instagram:hover {
        color: blue;
        text-decoration: none;
      } 
        
    .bungee-regularspice- {
        margin-bottom: 5px;
        font-size: 5.2vw; 
    }

}
/************************************************** Notebooks ****************************************************/
@media only screen and (min-width: 851px)  {    
    nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
        transition: color 0.3s, text-decoration 0.3s;
        font-family:"Kalam", cursive;
    }
    
    nav ul li a:hover {
        color: blue; 
        text-decoration: none;
    }
    
    .fa-facebook-square {
        font-size: 2vw; 
        color: white;
      }
    
      .fa-facebook-square:hover {
        color: blue;
        text-decoration: none;
      }
    
    .fa-instagram{
        font-size: 2vw; 
        color: white;
    }
    
    .fa-instagram:hover {
        color: blue;
        text-decoration: none;
      }
}