body {
  background: linear-gradient(135deg, #7d1d1d, #4c0000);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  text-align: center;
  position: relative;
  top: 0;
  z-index: 1000; /* Asegura que el header esté encima de otros elementos */
}

.btn-abandonar {
  background-color: rgb(199, 6, 6);
  border-radius: 8%;
  color: white;
  font-size: 1.5vw; /* Ajusta el tamaño del texto en pantallas grandes */
  padding: 15px 20px; /* Aumenta el padding para un botón más grande */
  position:relative; /* Fija el botón en la parte inferior */
  bottom: 50px; /* Espacio desde el borde inferior */
  left: 50%; /* Centra el botón horizontalmente */
  transform: translateX(-250%); /* Ajusta el botón para estar centrado */
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.bungee-regularspice- {
  margin-bottom: 10px; /* Reduce el margen inferior para separación con los botones */
  font-size: 2rem; /* Ajusta el tamaño del texto del título */
  font-family: "Bungee Spice", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.btn-custom, .btn-warning {
  width: 100%; /* Asegura que los botones ocupen el ancho completo del contenedor */
  margin: 5px 0; /* Reduce el espacio entre los botones */
  height: 100px; /* Establece una altura fija para los botones */
  padding: 10px; /* Agrega un relleno para un mejor aspecto */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word; /* Permite que el texto se ajuste dentro del botón */
  word-wrap: break-word;
  hyphens: auto;
}

.btn-custom:hover, .btn-warning:hover {
  transform: scale(1.05);
}

#quiz-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 20px; /* Añade margen superior para evitar superposición con el header */
}

#question-container {
  margin-bottom: 20px;
  text-align: justify;
}

.option-button {
  display: block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  text-align: justify;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*************************************** Notebooks ******************************************/
@media only screen and (min-width: 851px) {
  .bungee-regularspice- {
    font-size: 1.6rem; /* Ajusta el tamaño del texto del título para pantallas medianas */
  }
  .btn-custom, .btn-warning {
    font-size: 1rem; /* Ajusta el tamaño del texto para pantallas medianas */
    height: 100px; /* Ajusta la altura de los botones para pantallas medianas */
  }
  .option-button {
    font-size: 1.2vw; /* Ajusta el tamaño del texto de las opciones de respuestas */
  }
}

/*************************************** Tablets ******************************************/
@media only screen and (min-width: 651px) and (max-width: 850px) {
  body {
      margin-top: 50px;
      min-height: 100vh;
      overflow-x: hidden;
  }
  .bungee-regularspice- {
    font-size: 1.5rem; /* Ajusta el tamaño del texto del título para pantallas tablets*/
  }
  .btn-custom, .btn-warning {
    font-size: 0.8rem; /* Ajusta el tamaño del texto del menú para pantallas tablets */
    height: 80px; /* Ajusta la altura de los botones para pantallas tablets */
  }
  .option-button {
    font-size: 3vw; /* Ajusta el tamaño del texto de las opciones de respuestas */
  }
}

/*************************************** Celulares ******************************************/
@media only screen and (max-width: 650px) {
  body {
      margin-top: 20px;
  }
  .bungee-regularspice- {
    margin-top: 0px;
    font-size: 1.5rem; /* Ajusta el tamaño del texto del título para pantallas Celulares */
  }
  .btn-custom, .btn-warning {
    font-size: 1.45rem; /* Ajusta el tamaño del texto del menú para pantallas Celulares */
    height: 70px; /* Ajusta la altura de los botones para pantallas Celulares */
  }
  .option-button {
    font-size: 5vw; /* Ajusta el tamaño del texto de las opciones de respuestas */
  }
  .btn-abandonar {
    font-size: 1.5rem; /* Aumenta el tamaño del texto en dispositivos móviles */
    padding: 20px 40px; /* Aumenta el padding para un botón más grande */
  }
}
