main {
    background: black;
    color: white
}

section {
    margin: 2rem 0
}

img {
    height: 100%;
    object-fit: cover;
}

.text-bg-primary.btn.btn-custom.btn-1 {
    width: 100%;
    max-width: 400px; /* Ajusta este valor según sea necesario */
}
