main {
    background: black;
    color: white
}

section {
    margin: 2rem 0
}

img {
    height: 100%;
    object-fit: cover;
}

.btn.btn-success {
    width: 100%;
    max-width: 900px; /* Ajusta este valor según sea necesario */
    font-size: 1.2vw;
}

.text-bg-primary.btn.btn-custom.btn-1 {
    width: 100%;
    max-width: 900px; /* Ajusta este valor según sea necesario */
    font-size: 1.2vw;
}
