/********************************************** Celulares ********************************************************/
@media only screen and (max-width: 650px) {
    .grid-container {
      grid-template-columns: 1fr;
      font-size: small;
      padding-top: 20px;
    }
  
    .copyright {
      font-size: x-small;
    }
  }
  
  /************************************************ Tablets *********************************************************/
  @media only screen and (min-width: 651px) and (max-width: 850px) {
    .grid-container {
      font-size: small;
      grid-template-columns: repeat(3, 1fr);
      font-size: medium;
    }
    
    .copyright {
      font-size: small;
    }
  }
  
  /************************************************** Notebooks ****************************************************/
  @media only screen and (min-width: 851px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      font-size: x-large;
    }
    
    .grid-item {
      padding: 10px;
  }
    
    .copyright {
      font-size: large;
    }
  }
  
  /**************************************************** Footer *********************************************************/
  .grid-container {
    display: grid;
    gap: 5px;
    width: 100%;
    margin-top: auto;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
    
  footer {
    background-color: #0f0f0f;
    color: white;
  }
    
  .copyright {
    width: 100%;
    color: white;
    text-align: center;
    font-style: italic;
    background-color: #0f0f0f;
    border-top: 1px solid white;
    padding-top: 10px;
  }
  